.map-section{
  height:100%;
  width:100%;
}

#map{
  width: 100%;
  position: absolute;
  top: 40;
  bottom: 40;
}

.footer{
  font-size: 12;
  text-align: center;
}

#header {
    margin: 0.6em 10% 0.8em !important;
}
